@import "tailwindcss";

* {
  /* @apply border; */
}

:root {
  --background: #fcfbfb;
  --foreground: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fcfbfb;
  }
}

body {
  background-color: var(--background);
  background-image: repeating-radial-gradient(
    circle,
    rgba(255, 255, 255, 0.05) 0,
    rgba(255, 255, 255, 0.05) 1px,
    transparent 1px,
    transparent 100%
  );
  background-size: 4px 3px;
  animation: grain 1s steps(2) ease-in-out infinite;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes grain {
  0% {
    background-size: 4px 3px;
  }
  100% {
    background-size: 50px 50px;
  }
}

.flex-r-center {
  @apply flex justify-center items-center;
}
.flex-c-center {
  @apply flex justify-center flex-col items-center;
}

.border {
  @apply border-[1px] border-solid border-foreground/5;
}

.text-gradient-b {
  @apply text-transparent bg-gradient-to-br from-foreground/20 from-0%  to-transparent to-90% bg-clip-text;
}

.text-gradient-r {
  @apply text-transparent bg-gradient-to-br from-foreground/20 from-0%  to-transparent to-90% bg-clip-text;
}

.hero-span {
  @apply text-transparent bg-gradient-to-br from-foreground/20 from-0%   to-transparent to-80% bg-clip-text;
}

.text-gradient-r-2 {
  @apply text-transparent bg-gradient-to-r from-foreground/20 from-0%   to-transparent to-100% bg-clip-text;
}

.text-gradient-br {
  @apply text-transparent  bg-gradient-to-br from-foreground/20 from-0%  to-transparent to-90% bg-clip-text;
}

.border-gradient {
  border: 3px solid transparent;
  border-image: linear-gradient(135deg, #f59e0b, #ec4899 70%, #9333ea 90%) 1;
  border-radius: 1em;
}

.shadow-border {
  @apply border-[1px] border-solid border-foreground/10;
}

.button {
  @apply px-10 py-3 rounded-[.5em] bg-foreground/80 my-5 text-background;
}

.button1 {
  @apply bg-neutral-900 text-white px-10 py-4 rounded-md hover:bg-neutral-800 transition-colors;
}

.toasters {
  @apply absolute top-0 m-auto px-8 py-4 rounded-md bg-background border-solid border-b-4 border-[2px] border-foreground/60 text-foreground w-[50%] flex text-center;
}
